/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
body {
    font-family: 'Nova Square', sans-serif;
}
.prev-arrow{
    cursor: pointer;
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #818181bd;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.next-arrow{
    cursor: pointer;
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #818181bd;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.add-button{
    background-color: rgb(19, 23, 31);
    color: darkgrey;
    max-width: 20px;
    max-height: 20px;
    position: right;
}